name: Static Data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '*/15 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4

    - name: Setup python
      uses: actions/setup-python@v5
      with:
         python-version: 3.12.5

    - name: Setup python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install setuptools --upgrade

    - name: Fetch data via curl
      run: |
        curl -k -f https://pgm.mobie.pt/integration/nap/evChargingInfra -o ./data/sources/PT_NAP_Static.xml

    - name: Commit and push if the source data has changed
      run: |
        git pull
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        if git diff --cached --quiet; then
          echo "No changes to commit. Exiting."
          exit 0
        fi
        timestamp=$(date -u)
        git commit -m "Static data source: ${timestamp}" || exit 0
        git push

    - name: Run main Python script
      run: |
        python ./src/parseDatex.py

    - name: Commit and push if it changed
      run: |
        git pull
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Static data outputs: ${timestamp}" || exit 0
        git push
