name: Tariffs

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '5 */2 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
          
    - name: Fetch data via curl
      run: |
        curl -k -f https://mobie.pt/documents/42032/106470/8602.csv -o ./data/sources/mobie_tariffs.csv

    - name: Commit and push if it changed
      run: |
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest tariffs: ${timestamp}" || exit 0
        git push
